# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# AI model files
*.pth
*.pt
*.onnx

# Dataset
data/
*.zip

# Python testing/cache
.pytest_cache/

# VS Code
.vscode/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db